.spell-popup {
    align-items: center;
    background-color: rgba(0, 25, 0, 0.97);
    border: 1px solid var(--theme-highlight-color);
    border-radius: 10px;
    bottom: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.0em;
    justify-content: center;
    left: 0;
    margin: auto;
    max-height: fit-content;
    max-width: 40%;
    overflow-y: auto;
    padding: 10px;
    /* pointer-events: none; */
    position: absolute;
    right: 0;
    top: 0;
}
.spell-popup-parent {
    position: relative;
}
.spell-name {
    cursor: pointer;
}
.spells {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    text-align: center;
}
.spells > div {
    padding-right: 10px;
}
@media (max-width: 767px) {
    .spell-popup {
        max-width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .spell-popup {
        max-width: 70%;
    }
}
@media (min-width: 1025px) {
    .spell-popup {
        max-width: 60%;
    }
}

