.combat-tracking {
    font-size: 1.5em;
    padding: 10px;
}

.combat-tracking-buttons {
    align-items: center;
    display: grid;
    grid-template-columns: 100px 140px 240px;
    max-width: 950px;
}

.combat-tracking button {
    color: var(--color-header);
    margin: 0;
}

.combat-tracking input {
    font-size: 1.0em;
    margin-top: 3px;
}

.combat-tracking header {
    background-color: var(--background-color-header);
    color: var(--color-header);
}

.combat-tracking header.initiative {
    margin-left: -10px;
}

.combat-tracking>.creatures {
    display: grid;
    grid-template-columns: 150px 80px minmax(auto, 580px);
}

.combat-tracking-header {
    display: flex;
    align-items: center;
}

.combat-tracking-title {
    color: var(--color-header);
    font-size: 1.5em;
    font-weight: 600;
}

.combat-tracking-subtitle {
    font-size: 1.0em;
    padding: 10px;
}

.combat-tracking .up-down {
    margin-left: 20px;
}

.combat-tracking .up-down button {
    padding: 5px 7px;
    margin-left: 2px;
}