button.clear {
    color: var(--color-highlight);
}
.combat {
    font-size: 1.5em;
    padding: 10px;
}
.combat input {
    font-size: 1.0em;
    margin-top: 3px;
}
.combat header {
    background-color: var(--background-color-highlight);
    color: var(--color-highlight);
}
.combat > .creatures {
    display: grid;
    grid-template-columns: 100px 100px minmax(auto, 600px);
}