.spell-abilities {
    align-items: center;
    background-color: var(--background-color-body);
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 5px;
    margin-top: -5px;
}
.spell-popup-parent {
    overflow: visible;
}
.spell-name {
    cursor: pointer;
}
.spells {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    text-align: center;
}
.spells > div {
    padding-right: 10px;
}
