
input[type="checkbox"] {
    accent-color: var(--theme-highlight-color);
}
.name {
    color: var(--theme-highlight-color);
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: -10px;
}
.summary {
    margin-bottom: 10px;
}

.summaryGrid {
    display: grid;
    grid-template-columns: auto auto auto;
}