.spell-abilities {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 0px;
    margin-top: -10px;
}
.spell-popup-parent {
    overflow: visible;
    position: relative;
}
.spell-name {
    cursor: pointer;
}
.spells {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    text-align: center;
}
.spells > div {
    padding-right: 10px;
}
