.abilities {
    display: grid;
    grid-template-columns: 85px 60px 60px 50px auto;
    text-align: center;
}
.abilities > div {
    padding-right: 10px;
}
.abilities-popup-parent {
    overflow: visible;
    position: relative;
}