.attacks {
    display: grid;
    grid-template-columns: 120px 80px 40px 80px 70px;
    text-align: center;
}
.attacks > div {
    padding-right: 10px;
}

/* Add extra column for Mastery when using 2024 rules */
.attacks.mastery-enabled {
    grid-template-columns: 120px 80px 40px 80px 70px 80px;
}