.app {
    padding-bottom: 20px;
}
.campaign-name {
    color:var(--color-hover);
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 10px;
}
button {
    color: #aaa;
    margin-left: 10px;
    margin-top: 10px;
}
button.active {
    background-color: green;
    color: #fff;
}
button.download {
    background-color: darkgreen;
    color: #eee;
}
button.mutted {
    background-color: grey;
    color: #000;
}
/* Hidden buttons - kept for future use */
button.hidden {
    display: none;
}
