.abilities {
    display: grid;
    grid-template-columns: 90px 60px 60px 50px auto;
    text-align: right;
}
.abilities > div {
    padding-right: 10px;
}
hr {
    margin-bottom: 15px;
    margin-top: 15px;
}
.left {
    text-align: left;
}
.name {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: -10px;
}
.root {
    margin: 10px;
}
.summary {
    margin-bottom: 10px;
}
