.abilities {
    display: grid;
    grid-template-columns: 90px 60px 60px 50px auto;
    text-align: center;
}
.abilities > div {
    padding-right: 10px;
}
.attacks {
    display: grid;
    grid-template-columns: 120px 80px 40px 80px 50px;
    text-align: center;
}
.attacks > div {
    padding-right: 10px;
}
b {
    color: lightgreen;
    font-weight: 600;
}
hr {
    margin-bottom: 15px;
    margin-top: 15px;
}
.left {
    text-align: left;
}
.name {
    color: lightgreen;
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: -10px;
}
.root {
    background-color: #111;
    color: #eee;
    font-size: 14px;
    max-width: 800px;
    padding: 10px;
}
.sectionHeader {
    color: lightgreen;    
    font-size: 1.05em;
    font-weight: 800;
}
.spells {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    text-align: center;
}
.spells > div {
    padding-right: 10px;
}
.summary {
    margin-bottom: 10px;
}
