.attacks {
    display: grid;
    grid-template-columns: 120px 80px 40px 80px 50px;
    text-align: center;
}
.attacks > div {
    padding-right: 10px;
}
b {
    color: var(--heading-color);
    font-weight: 600;
}
.left {
    text-align: left;
}
.sectionHeader {
    color: var(--heading-color);    
    font-size: 1.05em;
    font-weight: 800;
}
