.spell-abilities {
    align-items: center;
    background-color: var(--background-color-body);
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 5px;
    margin-top: -5px;
}
.spell-popup-parent {
    overflow: visible;
}
.spell-name {
    cursor: pointer;
}
.table-spells {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

